# ─── Base de datos Aiven ────────────────────────────────────────────
DB_HOST=mysql-5ddca62-bosddaniel-6781.a.aivencloud.com
DB_PORT=20571
DB_USER=avnadmin
DB_PASSWORD=AVNS_ccjTeep7JXGZE8IITnt
DB_NAME=jueguitosDB

# ─── JWT ────────────────────────────────────────────────────────────
# ⚠️  Cambia este valor por una cadena aleatoria larga antes de producción
JWT_SECRET=genera_un_secreto_largo_aqui_con_openssl_rand_hex_32
JWT_EXPIRES=8h

# ─── Servidor ───────────────────────────────────────────────────────
PORT=3000
